abed.xsd

<?xml version="1.0" encoding="UTF-8"?>

  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://nrg.wustl.edu/abx" xmlns:abx="http://nrg.wustl.edu/abx" xmlns:xdat="http://nrg.wustl.edu/xdat" xmlns:xnat="http://nrg.wustl.edu/xnat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element accesstablename="" name="ABeD" type="abx:ABeDData"/>
    <xs:complexType name="ABeDData">
      <xs:complexContent>
        <xs:extension base="xnat:subjectAssessorData">
          <xs:sequence>
          <!-- The below fields are converted from the raw xml file generated by Lafayette ABeT -->
            <xs:element minOccurs="0" name="Animal_Id" type="xs:string"/>
            <xs:element minOccurs="0" name="Application_Version" type="xs:string"/>
            <xs:element minOccurs="0" name="Database" type="xs:string"/>
            <xs:element minOccurs="0" name="Exp_Date_Time" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="Environment" type="xs:string"/>
            <xs:element minOccurs="0" name="Guid" type="xs:string"/>
            <xs:element minOccurs="0" name="Machine_Name" type="xs:string"/>
            <xs:element minOccurs="0" name="Max_Number_Trials" type="xs:integer"/>
            <xs:element minOccurs="0" name="Max_Schedule_Time" type="xs:integer"/>
            <xs:element minOccurs="0" name="Notes" type="xs:string"/>
            <xs:element minOccurs="0" name="Schedule_Name" type="xs:string"/>
            <xs:element minOccurs="0" name="Schedule_Run_ID" type="xs:integer"/>
            <xs:element minOccurs="0" name="Schedule_Description" type="xs:string"/>
            <xs:element minOccurs="0" name="Schedule_Start_Time" type="xs:string"/>
            <xs:element minOccurs="0" name="Abet_Version" type="xs:string"/>
            <xs:element minOccurs="0" name="Abet_Version_Name" type="xs:string"/>
            <xs:element minOccurs="0" name="Weight" type="xs:float"/>
            <!-- The below fields are unpacked and derived fields. Not from the raw xml file generated by Lafayette ABeT -->
            <xs:element minOccurs="0" name="Site" type="xs:string"/>
            <xs:element minOccurs="0" name="Task" type="xs:string"/>
            <xs:element minOccurs="0" name="MouseStrain" type="xs:string"/>
            <xs:element minOccurs="0" name="MouseAge" type="xs:string"/>
            <xs:element minOccurs="0" name="MouseGender" type="xs:string"/>
            <xs:element minOccurs="0" name="MouseGenoType" type="xs:string"/>
            <xs:element minOccurs="0" name="MouseNumber" type="xs:integer"/>
            <xs:element minOccurs="0" name="CageNumber" type="xs:integer"/>
            <xs:element minOccurs="0" name="Attempts" type="xs:integer"/>
            <!-- The below fields are reserved fields, e.g. drugs. -->
            <xs:element minOccurs="0" name="InterventionUnit1" type="xs:string"/>
            <xs:element minOccurs="0" name="InterventionQuantity1" type="xs:float"/>
            <xs:element minOccurs="0" name="InterventionNotes1" type="xs:string"/>
            <xs:element minOccurs="0" name="InterventionUnit2" type="xs:string"/>
            <xs:element minOccurs="0" name="InterventionQuantity2" type="xs:float"/>
            <xs:element minOccurs="0" name="InterventionNotes2" type="xs:string"/>
            <xs:element minOccurs="0" name="InterventionUnit3" type="xs:string"/>
            <xs:element minOccurs="0" name="InterventionQuantity3" type="xs:float"/>
            <xs:element minOccurs="0" name="InterventionNotes3" type="xs:string"/>
            <xs:element minOccurs="0" name="InterventionUnit4" type="xs:string"/>
            <xs:element minOccurs="0" name="InterventionQuantity4" type="xs:float"/>
            <xs:element minOccurs="0" name="InterventionNotes4" type="xs:string"/>
            <xs:element minOccurs="0" name="InterventionUnit5" type="xs:string"/>
            <xs:element minOccurs="0" name="InterventionQuantity5" type="xs:float"/>
            <xs:element minOccurs="0" name="InterventionNotes5" type="xs:string"/>
            <xs:element minOccurs="0" name="Info1" type="xs:string"/>
            <xs:element minOccurs="0" name="Info2" type="xs:string"/>
            <xs:element minOccurs="0" name="Info3" type="xs:string"/>
            <xs:element minOccurs="0" name="Info4" type="xs:string"/>
            <xs:element minOccurs="0" name="Info5" type="xs:string"/>
            <xs:element minOccurs="0" name="Info6" type="xs:string"/>
          </xs:sequence>
          
	      <!-- The below fields are time series fields. -->
          <xs:element name="Marker" minOccurs="0">
            <xs:complexType>
              <xs:sequence>

                <xs:element maxOccurs="unbounded" minOccurs="0" name="CountMarker">
                  <xs:complexType>
                    <xs:sequence>
            	      <xs:element maxOccurs="1" minOccurs="1" name="Name" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Count" type="xs:long"/>
                      </xs:sequence>
                  </xs:complexType>
                </xs:element>  
        
                <xs:element maxOccurs="unbounded" minOccurs="0" name="EvaluationMarker">
                  <xs:complexType>
                    <xs:sequence>
            	      <xs:element maxOccurs="1" minOccurs="1" name="Name" type="xs:string"/>
                      <xs:element maxOccurs="1" minOccurs="1" name="Results" type="xs:double"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>  

                <xs:element maxOccurs="unbounded" minOccurs="0" name="MeasureMarker">
                  <xs:complexType>
                    <xs:sequence>
            	      <xs:element maxOccurs="1" minOccurs="1" name="Name" type="xs:string"/>
                      <xs:element maxOccurs="1" minOccurs="1" name="Time" type="xs:long"/>
                      <xs:element maxOccurs="1" minOccurs="1" name="Duration" type="xs:long"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>

              </xs:sequence>
            </xs:complexType>
           </xs:element>
          
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

  </xs:schema>
